body{
    font-family:Arial;
    background-color: aliceblue;
    padding: 40px 0px;
}

h1{
    font-size: 36px;
}

h2{
    font-size: 28px;
}

span{
    color: grey;
}


.container{
    box-shadow: 0 0 20 grey;
    background-color: white;
    width: 960px;
    margin: 0 auto;
}


header,section{
    padding: 10px 60px 20px;
    
}

header{
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding-top:60px;
    
}


header ul{
    list-style: none;
}

header li{
    margin-bottom: 15px;
}

.address-icon{
    width:16px;
    height: 16px;
    background-color: cornflowerblue;
    margin-right: 10px;
    padding: 8px;
}

.hobby-icon{
    width:16px;
    height: 16px;
    background-color: white;
    margin-right: 10px;
    padding: 8px;
}

.circle{
     border-radius: 50%;
}

profile-picture{
    width: 115px;
    height: 115px;
}

.hobbies{
    list-style:none;
    padding: 0;
    display: flex;
}

.hobbies li{
    width:50%;
    display:flex;
    flex-wrap:wrap;
    align-items: center;
}

.cv-dwonload-link{
    border: 2px solid cornflowerblue;
    color:black;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 26px;
    transition: background-color 0.5s; 
}

.cv-dwonload-link:hover{
    color:white;
    background-color: cornflowerblue;
}

.cv-dwonload-link:focus{
    outline:none;
    color:white;
    background-color: cornflowerblue;
}

.cv-dwonload-link:active{
    text-decoration: underline;
}

